body {
            background-color: #141414;
            color: white;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        #videoContainer {
            position: relative;
            width: 80%;
        }
        #videoPlayer {
            width: 100%;
            border: 1px solid #333;
        }
        .controls {
            position: absolute;
            bottom: 10px;
            left: 10px;
            right: 10px;
            display: flex;
            justify-content: space-between;
            background-color: rgba(34, 34, 34, 0.8);
            padding: 10px;
            border-radius: 5px;
        }
        .button {
            background-color: #e50914;
            border: none;
            color: white;
            padding: 10px;
            cursor: pointer;
        }
        .button:hover {
            background-color: #f40612;
        }
        #volumeControl {
            width: 100px;
        }
